//fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Outfit:wght@100;400;500;700&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
$font_main: 'Outfit', sans-serif;
$font_serif: 'DM Serif Display', serif;
$font_code: 'Source Code Pro', monospace;

//colors
html.dark-theme{
    --primary: #3737F4;
    --secondary: #2D99FA;
    --highlight: #2CF5B5;
    --dark: #FAFCFF;
    --light: #080e15;
    --neutral:#171b28;
    --gradient: linear-gradient(38deg, rgba(55,55,244,1) 0%, rgba(45,153,250,1) 50%, rgba(44,245,181,1) 100%);
}
html.light-theme{
    --primary: #3737F4;
    --secondary: #2D99FA;
    --highlight: #2CF5B5;
    --dark: #0D192B;
    --light: #FAFCFF;
    --neutral:#98B0EB;
    --gradient: linear-gradient(38deg, rgba(55,55,244,1) 0%, rgba(45,153,250,1) 50%, rgba(44,245,181,1) 100%);
}

$gradient: linear-gradient(198.3deg, #2CF5B5 3.4%, #3737F4 70.44%);

//responsive breakpoints
$br_mobile: 768px;

//transitions
$default_transition: all 0.4s ease;