//fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;600;700&display=swap');
$font_main: 'Outfit', sans-serif;

//font sizes
$size_4px: 0.25rem;
$size_8px: 0.5rem;
$size_12px: 0.75rem;
$size_14px: 0.875rem;
$size_16px: 1rem;
$size_18px: 1.12rem;
$size_20px: 1.25rem;
$size_24px: 1.5rem;
$size_28px: 1.75rem;
$size_32px: 2rem;
$size_36px: 2.25rem;
$size_40px: 2.5rem;
$size_44px: 2.75rem;
$size_48px: 3rem;
$size_52px: 3.25rem;
$size_56px: 3.5rem;
$size_60px: 3.75rem;
$size_64px: 4rem;
$size_68px: 4.25rem;
$size_72px: 4.5rem;
$size_76px: 4.75rem;
$size_80px: 5rem;

//colors
html.light-theme{
    --primary: #5EFC8D;
    --secondary: #7371FC;
    --tertiary: #473BF0;
    --text_color: rgb(12, 28, 37);
    --text_color_transparent: rgba(12, 28, 37, 0.12);
    --text_color_smooth: rgba(12, 28, 37, 0.6);
    --bg_color: rgb(251, 251, 255);
    --bg_color_transparent: rgba(251, 251, 255, 0.2);
    --bg_color_smooth: rgba(251, 251, 255, 0.6);
    --neutral:#ABB4D6;
    --primary_gradient: linear-gradient(45deg, #1f1c44 40%, #7371FC 100%);
    --secondary_gradient: linear-gradient(45deg, #473BF0 40%, #ABB4D6 100%);
    --pure_white: #ffffff;
    //effects
    --shadow: rgba(12, 28, 37, 0.4);
}
html.dark-theme{
    --primary: #5EFC8D;
    --secondary: #7371fc;
    --tertiary: rgb(71, 59, 240);
    --text_color: #FBFBFF;
    --text_color_transparent: rgba(251, 251, 255, 0.12);
    --text_color_smooth: rgba(251, 251, 255, 0.6);
    --bg_color: #0c1c25;
    --bg_color_transparent: rgba(12, 28, 37, 0.2);
    --bg_color_smooth: rgba(12, 28, 37, 0.6);
    --neutral:#ABB4D6;
    --primary_gradient: linear-gradient(45deg, #FBFBFF 40%, #ABB4D6 100%);
    --secondary_gradient: linear-gradient(45deg, #473BF0 40%, #7371FC 100%);
    --pure_white: #ffffff;
    //effects
    --shadow: rgba(115, 113, 252,0.6);
}

//responsive breakpoints
$br_mobile: 640px;
$br_tablet: 820px;
$br_desktop: 1280px;
$br_desktop_lg: 1440px;

//transitions
$transition_default: all 0.4s ease;

