//fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Outfit:wght@100;400;500;700&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
$font_main: 'Outfit', sans-serif;
$font_serif: 'DM Serif Display', serif;
$font_code: 'Source Code Pro', monospace;

//font sizes
$size_4px: 0.25rem;
$size_8px: 0.5rem;
$size_12px: 0.75rem;
$size_14px: 0.875rem;
$size_16px: 1rem;
$size_18px: 1.12rem;
$size_20px: 1.25rem;
$size_24px: 1.5rem;
$size_28px: 1.75rem;
$size_32px: 2rem;
$size_36px: 2.25rem;
$size_40px: 2.5rem;
$size_44px: 2.75rem;
$size_48px: 3rem;
$size_52px: 3.25rem;
$size_56px: 3.5rem;
$size_60px: 3.75rem;
$size_64px: 4rem;
$size_68px: 4.25rem;
$size_72px: 4.5rem;
$size_76px: 4.75rem;
$size_80px: 5rem;

//colors
html.dark-theme{
    --primary: #5EFC8D;
    --secondary: #7371FC;
    --tertiary: #473BF0;
    --text_color: #003049;
    --bg_color: #FBFBFF;
    --neutral:#ABB4D6;
    --primary_gradient: linear-gradient(148.63deg, #003049 5.63%, #03151F 75.47%);
    --secondary_gradient: linear-gradient(303.83deg, #ABB4D6 40.56%, #C3CEF5 104.15%);
    --pure_white: #ffffff;
}
html.light-theme{
    --primary: #5EFC8D;
    --secondary: #7371FC;
    --tertiary: #473BF0;
    --text_color: #003049;
    --bg_color: #FBFBFF;
    --neutral:#ABB4D6;
    --primary_gradient: linear-gradient(148.63deg, #003049 5.63%, #03151F 75.47%);
    --secondary_gradient: linear-gradient(303.83deg, #ABB4D6 40.56%, #C3CEF5 104.15%);
    --pure_white: #ffffff;
}

//responsive breakpoints
$br_mobile: 640px;
$br_tablet: 820px;
$br_desktop: 1280px;
$br_desktop_lg: 1440px;

//transitions
$transition_default: all 0.4s ease;

//effects
$shadow_small: 0 4px 12px 0px rgba(#003049, 0.2);